h1 {
	color: ##606060;
	font-family: Tahoma;
	text-shadow: 0 0 5px #C8C8C8, 0 0 10px #C8C8C8, 
			0 0 20px #C8C8C8, 0 0 30px #C8C8C8, 
			0 0 40px #C8C8C8;
}

img {
	opacity: 0.45;
	height: 250px;
	width: 250px;
}


